#ext_menu-i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-i .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#testimonials1-7 .mbr-reviews__text P {
  text-align: center;
  font-size: 13px;
}
#social-buttons2-f .mbr-header__text {
  text-align: center;
}
#ext_menu-i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-i .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-i .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
